<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
</head>
<body>
    <div id='top'>
        <div class='ninja'>
            <h1>Add a Dojo</h1><br>
            <form action="/create_dojo" method="POST">
                {% csrf_token %}
                <p>Name <input type="text" name="name"></p><br>
                <p>City <input type="text" name="city"></p><br>
                <p>State <input type="text" name="state"></p><br>
            <input type="submit" value="Add">
            </form>
        </div>
        <div class='ninja'>
            <h1>Add a Ninja</h1><br>
            <form action="/create_ninja" method="POST">
                {% csrf_token %}
                <p>First Name <input type="text" name="fname"></p><br>
                <p>Last Name <input type="text" name="lname"></p><br>
                <p id='select'>Dojo
                    <select name="dojoname">
                    {% for dojo in dojos %}
                    <option value="{{ dojo.id }}">{{ dojo.name }}</option>
                    {% endfor %}
                    </select>
                </p><br>
                
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
    <hr>
    <div id='bottom'>
        <h1 id='dojo'>All Dojos</h1><br>
        <form action='/delete' method='POST'>
            {% csrf_token %}
            {% for dojo in dojos %}
            <h3>Ninjas at the {{ dojo.name }} Dojo - {{ dojo.ninjas.all.count }}
                <input type='hidden' name='del' value='{{ dojo.id }}'>
                <input type='submit' value='delete'>
            </h3>
        <ul>
            {% for ninja in dojo.ninjas.all %}
            <li>{{ ninja.first_name }} {{ ninja.last_name }}</li>
            {% endfor %}
        </ul>
            {% endfor %}
        </form>
    </div>
</body>
</html>